.placecontent {
    /* background: orange; */
    // justify-content: center;
    // width: 100%;
    // overflow: hidden;
    margin-left: 30%;
  }
  iframe{
    width:100%;
  }

  .place-detail{
    display: grid;
    
  }